In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('final.db')
cur = conn.cursor()

In [2]:
def fetch_table_names(cur: sqlite3.Cursor) -> [str]:
    '''
    Retrieves all tables in the database
    '''
    
    cur.execute('SELECT name FROM sqlite_master WHERE type = \'table\';')
    return [x[0] for x in cur.fetchall()]

def fetch_column_names(cur: sqlite3.Cursor, table: str) -> [str]:
    '''
    Retrieves all columns in a table
    '''
    
    cur.execute('PRAGMA table_info(' + table + ');')
    return [x[1] for x in cur.fetchall()]

def fetch_col_values(cur: sqlite3.Cursor, table: str, col: str) -> []:
    '''
    Returns all values for a specific column
    '''
    
    cur.execute('SELECT ' + col + ' FROM ' + table + ';')
    return [x[0] for x in cur.fetchall()]

In [3]:
fetch_table_names(cur)

['SCHOOL_TRAIN', 'SCHOOL_TEST', 'POKEMON_TRAIN', 'POKEMON_TEST']

In [4]:
db_col_names=fetch_column_names(cur, 'POKEMON_TRAIN')
db_col_names

['rowid',
 'unique_id',
 'types',
 'abilities',
 'base_happiness',
 'height_m',
 'weight_kg',
 'poke_stats',
 'is_legendary']

In [5]:
db_col_names = db_col_names [::-1]
db_col_names

['is_legendary',
 'poke_stats',
 'weight_kg',
 'height_m',
 'base_happiness',
 'abilities',
 'types',
 'unique_id',
 'rowid']

In [6]:
id_z= fetch_col_values(cur, 'POKEMON_TRAIN', "rowid")

In [7]:
aa = pd.Series(fetch_col_values(cur, 'POKEMON_TRAIN', "abilities"))

In [8]:
df = pd.DataFrame(id_z)

In [ ]:
names= []
for i in db_col_names:
    val = pd.Series(fetch_col_values(cur, 'POKEMON_TRAIN', i))
    df = pd.concat([val, df], axis=1, names=i)
    names_ = names.reverse()
    #df.rename(columns = {"0":"rowid","0":"types"}, inplace = True)
    names.append(i)

In [ ]:
df.columns = ["is_legendary","poke_stats","weight_kg","height_m","base_happiness","abilities","types","unique_id","rowid","rowid2"]

In [ ]:
df.drop(columns=["rowid2"],inplace=True)

In [ ]:
df

In [ ]:
#df.to_csv("/Users/josedelarosa/Desktop/TeamNomad/pokeman_train.csv")

In [ ]:
test_col_names = fetch_column_names(cur, 'POKEMON_TEST')
test_col_names

In [ ]:
test_col_names = test_col_names[::-1]

In [ ]:
test_col_names

In [ ]:
test_id_z= fetch_col_values(cur, 'POKEMON_TEST', "rowid")

In [ ]:
test_aa = pd.Series(fetch_col_values(cur, 'POKEMON_TEST', "abilities"))

In [ ]:
test_df = pd.DataFrame(test_id_z)

In [ ]:
for i in test_col_names:
    val = pd.Series(fetch_col_values(cur, 'POKEMON_TEST', i))
    test_df = pd.concat([val, test_df], axis=1, names=i)
    #test_names.append(i)

In [ ]:
test_df.columns = ['rowid',
 'unique_id',
 'types',
 'abilities',
 'base_happiness',
 'height_m',
 'weight_kg',
 'poke_stats','rowid2']

In [ ]:
test_df

In [ ]:
test_df.drop(columns=["rowid2"],inplace=True)

In [ ]:
test_df

In [ ]:
#test_df.to_csv("/Users/josedelarosa/Desktop/TeamNomad/pokeman_test.csv")